<ion-header>
  <ion-toolbar>
    <ion-title>Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let film of films">
      <ion-card>
        <img src="{{ film.image }}" height="200"/>
        <ion-card-content>
          {{ film.name }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
